body{
    background-color: rgb(231, 19, 143);
}
.calc_simples{
    background-color: rgb(7, 233, 233);
    padding: 20px;
    width: 200px;
    border-radius: 5px;
}
.display_simples{
    width: 100%;
    text-align: center;
}
#resultado{
    text-align: right;
}
.teclas{
    text-align: center;
}
button{
    width: 40px;
    height: 40px;
    margin-top: -3px;
}
#igual{
    background-color: blueviolet;
    color: black;
}